@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Barlow', sans-serif;
}

main{
  min-height: 80vh;
}
.img-pro{
  min-height: 100vh;
}

#footer{
  font-weight: 600;
}

a{
  padding: 15px;
  text-decoration: none;
}


.cart-img{
  width:100%;
}

.cart-btn-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}